body {
    font-family: Sans-Serif;
}

#header {
    padding: 0px 0px 0px 0px;
//    font-size: 10px;
//    text-align: center;
    background-color: #efd;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #ccc;
    overflow: visible;
}
#header > div {
    display: inline-block;
}
#projectname {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 20px;
    position: absolute;
    left: 50px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #63A405;
}
#projectlogo {
    position: absolute;
    left: 10px;
    top: 0px;
}
#projectname + div {
    position: absolute;
    left: 230px;
    top: 0px;
    z-index: 30;
}
#mainmenu {
    font-size: 15px;
    list-style: none;
    padding: 0px;
    margin-top: 4px;
    display: inline-block;
    outline: none;
    height: 25px;
}
#mainmenu > .ui-menu-item {
    float: left;
    width: auto;
}

/* TODO better */
#mainmenu .menu-depth-1 > li > a {
    width: 120px;
}
#mainmenu .menu-depth-2 > li > a {
    width: 350px;
}
#login > form {
    display: inline;
}
#open-scheme-file-dialog input[type=file] {
    width: 330px;
}
#running-simulation {
    text-align: center;
}
#simulation-output-files {
    height: 600px;
    overflow: auto;
}
.outputFile {
    border: 1px solid #ccc;
}
div.outputFile {
    text-align: left;
    overflow: auto;
    height: 150px;
}

.mymain {
    background-color: #ffd;
}
.myfooter {
    font-size: small;
    text-align: center;
    background-color: #fed;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #ccc;
}
#loading-progress-overlay {
    background-color: #ffd;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0.9; /* also -moz-opacity, etc. */
    z-index: 1000;
}
#loading-progress {
    position: fixed;
    top: 50px; right: 50px; left: 50px;
}
#loading-progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.icon-button {
    background-image: url(ui-lightness/images/ui-icons_222222_256x240.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.share {
    position: fixed;
    top: 50px;
    right: 180px;
}
