.scheme-boxlist {
    overflow: auto;
}
.scheme-boxlist table {
    width: 100%;
    border-collapse: collapse;
}
.scheme-boxlist tr.odd {
    background-color: #fff;
}
.scheme-boxlist tr.even {
    background-color: #eee;
}
.scheme-boxlist td {
    padding-left: 8px;
    padding-right: 6px;
}
.scheme-boxlist td img {
    cursor: help;
}
.scheme-boxlist-box {
    cursor: pointer;
}
#scheme-boxhelp {
    position: absolute;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #888;
    z-index: 2000;
}
#scheme-porthelp,
#scheme-statushelp {
    position: absolute;
    background-color: #eee;
    padding: 3px;
    border: 1px solid #888;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #888;
}
#scheme-statushelp.error {
    font-family: monospace;
}

#scheme-boxdrag {
    position: absolute;
    background-color: #ccc;
    border: 1px solid #888;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}


svg > .mainrect {
    fill: none;
    pointer-events: all;
}

.scheme-box-shape {
    fill: #fff;
    stroke: #ccc;
}

.scheme-box-shape.selected {
    fill: #fff5f5;
    stroke: #c88;
    stroke-width: 3;
}

/*
Note: The following does not work in Mozilla FF for svg>g>g>text (but works for svg>g>text)

alignment-baseline: text-before-edge;

Using workaround with bbox instead.
*/
.scheme-box text,
#scheme-boxhelp,
#scheme-porthelp,
#scheme-statushelp
{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scheme-port {
    cursor: pointer;
}

.scheme-inport {
    fill: #faa;
    stroke: #800;
}

.scheme-outport {
    fill: #aaf;
    stroke: #008;
}

.scheme-inport:hover {
    fill: #fdd;
    stroke: #f00;
}
.scheme-outport:hover {
    fill: #ddf;
    stroke: #00f;
}

.scheme-link {
    stroke: #879;
    stroke-width: 5;
    cursor: url(close-16.png) 8 8,crosshair
}

.scheme-drag-line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.scheme-drag-line-hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

#scheme-box-props {
    overflow: auto;
    height: 100%;
    background-color: #f6faf1;
}
#scheme-box-props table {
    width: 100%;
    border-collapse: collapse;
}
#scheme-box-props tr.odd {
    background-color: #fff;
}
#scheme-box-props tr.even {
    background-color: #eee;
}
#scheme-box-props td {
    padding-left: 8px;
    padding-right: 6px;
}
#scheme-box-props td:first-child {
    width: 25%;
}

#scheme-box-props select {
    border: 0;
    -webkit-appearance: none;   /*Removes default chrome and safari style*/
    -moz-appearance: none;      /* Removes Default Firefox style*/
    appearance: none;
    background: url('drop_arrow.png') no-repeat right;
    text-indent: 0.01px;        /* Removes default arrow from firefox*/
    text-overflow: "";          /*Removes default arrow from firefox*/
}

#scheme-box-props input[type=text] {
    border: none;
    background-color: transparent;
}

#scheme-box-props input[type=button] {
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #eee;
    height: 18px;
}

#scheme-box-extras {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #f6faf1;
}

#scheme-box-extras-hdr {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #eee;
}

.scheme-box-extras-ok {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #eee;
}

#scheme-box-extras-text {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    bottom: 0px;
}

#scheme-box-extras textarea {
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
}

.svg-main {
    background-color: #ffd;
    border: 1px solid #ccc;
}

.normal_container h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}
