.scheme-boxlist table {
    width: 100%;
    border-collapse: collapse;
}
.scheme-boxlist tr.odd {
    background-color: #eee;
}
.scheme-boxlist tr.even {
    background-color: #fff;
}
.scheme-boxlist td {
    padding-left: 8px;
    padding-right: 6px;
}
.scheme-boxlist td img {
    cursor: help;
}
.scheme-boxlist-box {
    cursor: pointer;
}
#scheme-boxhelp {
    position: absolute;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #888;
}
#scheme-porthelp {
    position: absolute;
    background-color: #eee;
    padding: 3px;
    border: 1px solid #888;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #888;
}
#scheme-boxdrag {
    position: absolute;
    background-color: #ccc;
    border: 1px solid #888;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}


svg > .mainrect {
    fill: none;
    pointer-events: all;
}

.scheme-box-shape {
    fill: #fff;
    stroke: #ccc;
}

.scheme-box text {
    alignment-baseline: text-before-edge;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scheme-port {
  cursor: pointer;
}

.scheme-inport {
  fill: #faa;
  stroke: #800;
}

.scheme-outport {
  fill: #aaf;
  stroke: #008;
}

.scheme-inport:hover {
  fill: #fdd;
  stroke: #f00;
}
.scheme-outport:hover {
  fill: #ddf;
  stroke: #00f;
}

.link {
  stroke: #999;
}

.svg-main {
  background-color: #ffd;
  border: 1px solid #ccc;
}

div.test {
  background-color: #cfc;
  display: inline;
  padding: 5px;
  margin: 3px;
}

div.test_running {
  background-color: #fcc;
  display: inline;
  padding: 5px;
  margin: 3px;
}

.ui-menu {
/*
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	*/
	font-size: .8em;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}
