//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

style.
    #doc-menu-pane {
        height: 100%;
        background-color: #f6faf1;
    }
    #doc-menu-pane ul {
        list-style-type: none;
    }
    .selected-doc-menu-item {
        text-decoration: underline;
    }
script.
    //$('#doc-menu-pane').accordion({ heightStyle: "content" })
    $('#doc-menu-pane').accordion({ heightStyle: "fill" })
#doc-menu-pane
    h3#doc-menu-general General
    div
        ul
            li: a(href='/doc#page/general-overview') Overview
            li: a(href='/doc#page/general-items') Boxes, ports, and links
            li: a(href='/doc#page/general-data') Port data
            li: a(href='/doc#page/general-snippets') Snippets
    h3#doc-menu-editorpane Editor panes
    div
        ul
            li: a(href='/doc#page/editorpane-box') Box list
            li: a(href='/doc#page/editorpane-info') Info pane
            li: a(href='/doc#page/editorpane-scheme') Simulation scheme
            li: a(href='/doc#page/editorpane-prop') Object parameters
            li: a(href='/doc#page/editorpane-text') Text editor
    h3#doc-menu-editor Using editor
    div
        ul
            li: a(href='/doc#page/editor-usage-createbox') Creating boxes
            li: a(href='/doc#page/editor-usage-connect') Making connections
            li: a(href='/doc#page/editor-usage-boxprop') Editing box parameters
            li: a(href='/doc#page/editor-usage-simprop') Simulation properties
            li: a(href='/doc#page/editor-usage-text-script') Editing source code
            li: a(href='/doc#page/editor-usage-text-info') Editing info text
            li: a(href='/doc#page/editor-usage-images') Adding images
            li: a(href='/doc#page/editor-usage-snippets') Using snippets
            li: a(href='/doc#page/editor-usage-replacebox') Changing box type
            li: a(href='/doc#page/editor-usage-boxhelp') Displaying box help
    h3#doc-menu-simfile Simulation files
    div
        ul
            li: a(href='/doc#page/simfile-quick') Quicksave feature
            li: a(href='/doc#page/simfile-save') Saving simulations
            li: a(href='/doc#page/simfile-load') Loading simulations
            li: a(href='/doc#page/simfile-table') Table of simulations
    h3#doc-menu-simrun Running simulation
    div
        ul
            li: a(href='/doc#page/simrun-start') Running simulation
            li: a(href='/doc#page/simrun-output') Simulation output
    h3#doc-menu-box Boxes
    div
        ul
            each box in boxTypes
                li: a(href='/doc#box/' + box) #{box}
    h3#doc-menu-snippet Snippets
    div
        ul
            li: a(href='/doc#snippet/ode') ode
            li: a(href='/doc#snippet/fde') fde
    h3#doc-menu-tut Tutorials
    div
        ul
            each tutorial in tutorials
                li: a(href='/doc#tut/' + tutorial.name) #{tutorial.title}
    h3#doc-menu-dev Development
    div
        ul
            li: a(href='/doc#page/dev-source') Source code
            li: a(href='/doc#page/dev-roadmap') Roadmap
            li: a(href='/doc#page/dev-newbox') Developing new box
