//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

extends page
block vars
    - var title = 'Equares editor'

block otherCss
    link(rel='stylesheet', href='stylesheets/scheme-editor.css')
    //- link(rel='stylesheet', href='stylesheets/equarescmd.css')
    link(rel='stylesheet', href='stylesheets/jquery-linenum.css')
    link(rel='stylesheet', href='stylesheets/siminfo.css')
    link(rel='stylesheet', href='stylesheets/colpick.css')

block otherScripts
    script(type='text/javascript' src='js-3rd/d3.v3.js')
    script(type='text/javascript' src='js/jquery-linenum.js')
    script(type='text/javascript' src='js-3rd/jquery.mousewheel.min.js')
    script(type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script(type='text/javascript' src='js-3rd/marked.min.js')
    script(type='text/javascript' src='js-3rd/colpick.js')
    script(type='text/javascript' src='js/format-info.js')
    script(type='text/javascript' src='js/equaresui.js')
    script(type='text/javascript' src='js/equares.js')
    script(type='text/javascript' src='js/equares-box.js')
    script(type='text/javascript' src='js/scheme-editor.js')
    script(type='text/javascript' src='js/image-view.js')
    script(type='text/javascript' src='js/snippet-view.js')

block extras
    input#simulation-uploader(type='file' style='display: none;')

    div
        #running-simulation(title='Running simulation')
            p Status: <span class="status"></span>
            #simulation-interactive-input
            p Simulation output files
            #simulation-output-files

    #loading-progress-overlay
        #loading-progress
            #loading-progress-label Loading...
    #confirm-overwrite(title='Overwrite existing simulation?' style='display: none;')
        p
            span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 20px 0;')
            | There is an existing simulation with the name specified. Saving under this name will overwrite the existing simulation. Continue?
