//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

style.
    form#logindlg > * {
        display: block;
    }
    form#logindlg > label {
        margin-top: 10px;
    }

script.
    $(document).ready(function() {
        function refreshCaptcha() {
            $('#captchaimg').attr('src', newimgref('/captcha.png'))
        }
        refreshCaptcha()
        $('#newcaptcha').click(refreshCaptcha)
    })

#errormsg
    include errormsg

form#logindlg(action='/login', method='post')
    label(for='username') Name or email
    input#username(type='text', name='username')
    label(for='password') Password
    input#password(type='password', name='password')
    label(for='captcha') Confirm you're a human: enter code shown in the picture below
    input#captcha(type='text', name='captcha')
    img#captchaimg
    input#newcaptcha(type="button", value="new image")
