style.
    #login label {
        margin-left: 10px;
        margin-right: 5px;
        font-size: small;
    }
    #login input[type=text], #login input[type=password] {
        border: 1px solid #ccc;
        font-size: small;
    }
    #login input[type=submit] {
        margin-left: 5px;
    }
    #login {
        font-size: small;
        margin-top: -3px;
    }
if message
    span(style='color: red;')= message
if captcha
    a#loginlink(href="/login") Log in
    script.
        $('#loginlink').click(function(e) {
            e.preventDefault()
            $('#before_login_action').click()
            $.get('/logindlg').done(function(text) {
                $('<div id="logindlg" title="Log in"></div>')
                    .appendTo('body')
                    .html(text)
                    .dialog({
                        modal: true,
                        buttons: {
                            "Log in": function() {
                                var dlg = $(this)
                                $.post("/login", dlg.find('form').serialize())
                                    .done(function() {
                                        dlg.dialog('close')
                                        loadLoginForm($('#login'))
                                        loadMenu()
                                        $('#after_login_action').click()
                                    })
                                    .fail(function() {
                                        $.get('/errormsg').done(function(text) {
                                            dlg.find('#errormsg').html(text)
                                        })
                                        dlg.find('#newcaptcha').click()
                                    })
                            },
                            "Cancel": function() {
                                $(this).dialog('close')
                            }
                        },
                        close: function() {
                            $(this).remove()
                        }
                    })
            })
        })
else
    form(action='/login', method='post')
        label(for='username') Name or email
        input#username(type='text', name='username')
        label(for='password') Password
        input#password(type='password', name='password')
        input(type='submit', value='Log in')
a#signup(href='/signup') Sign up
a#resetpassword(href='/profile/resetpassword' title='Click here if you have forgotten your password') Forgot password
script.
    (function() {
        var loginDiv = $('#login')
        loginDiv.find('input[type=submit]').click(function(e) {
            $('#before_login_action').click()
            e.preventDefault()
            $.post("/login", loginDiv.children().serialize())
                .done(function() {
                    loadMenu()
                    $('#after_login_action').click()
                })
                .always(function() { loadLoginForm(loginDiv) })
        })
        loginDiv.find('#newcaptcha').click(function() {
            $('#captchaimg').attr('src', '/captcha.png#' + (new Date).toGMTString())
        })
        $("a#signup").click(function(e) {
            e.preventDefault()
            $('#before_login_action').click()
            $.get('/signup')
                .done(function(text) {
                    $('<div id="signupdlg" title="Sign up"></div>')
                        .appendTo('body')
                        .html(text)
                        .dialog({
                            modal: true,
                            buttons: {
                                "Sign up": function() {
                                    var dlg = $(this)
                                    $.post("/signup", dlg.find('form').serialize())
                                        .done(function() {
                                            window.location.pathname = '/profile'
                                        })
                                        .fail(function(xhr) {
                                            var code = xhr.status
                                            $.get('/errormsg')
                                                .done(function(text) {
                                                    dlg.find('#errormsg').html(text || 'Unknown error, code ' + code)
                                                })
                                                .fail(function() {
                                                    dlg.find('#errormsg').html('Unable to retrieve error message, code ' + code)
                                                })
                                            dlg.find('#newcaptcha').click()
                                        })
                                },
                                "Cancel": function() {
                                    $(this).dialog('close')
                                }
                            },
                            close: function() {
                                $(this).remove()
                            }
                        })
                })
        })
        $('a#resetpassword').click(function(e) {
            e.preventDefault()
            $.get('/resetpassworddlg').done(function(text) {
            $('<div id="resetpassdlg" title="Reset password"></div>')
                .appendTo('body')
                .html(text)
                .dialog({
                    modal: true,
                    buttons: {
                        "Proceed": function() {
                            var dlg = $(this)
                            $.post("/resetpassword", dlg.find('form').serialize())
                                .done(function(responseText) {
                                    dlg.dialog('close')
                                    infoMessage(responseText, 10000)
                                })
                                .fail(function(xhr) {
                                    dlg.find('#resetpassworddlg-errormsg').html(xhr.responseText || 'Unknown error, code ' + xhr.code)
                                    dlg.find('#resetpassworddlg-newcaptcha').click()
                                })
                        },
                        "Cancel": function() {
                            $(this).dialog('close')
                        }
                    },
                    close: function() {
                        $(this).remove()
                    }
                })
            })
        })
    })()
