block menu
    ul
        li: a(href="/") Home
        li
            a#menu-editor(href="/editor") Editor
            block menu-editor
        li
            a#menu-simulations(href="/simulations") Simulations
            if req.isAuthenticated()
                ul
                    li: a(href='/simulations?mode=my') My
                    li: a(href='/simulations?mode=public') Public
        if req.isAuthenticated()
            li: a(href="/profile") Profile
        li
            a(href="/doc") Docs
            ul
                li: a(href="/doc/basic") Basic usage
                li: a(href="/doc/dev") Development
