//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

#pick-snippet(title='Pick a snippet' style='display: none;')
    style.
        #pick-snippet {
            overflow: hidden;
        }
        .snippet-container {
            display: inline-block;
            margin: 10px;
            height: 100px;
            // background-color: #ffc;
        }
        .snippet-control {
            display: inline-block;
            height: 100%;
            width: 20px;
            // background-color: #cfc;
        }
        .snippet-tool {
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        .snippet-edit {
            //background-color: #ccf;
            background-image: url('/images/edit.png');
        }
        .snippet-remove {
            //background-color: #fcc;
            background-image: url('/images/trash.png');
        }
        .snippet-kw {
            display: none;
        }
        #snippet-filter > * {
            font-size: smaller;
        }
        #snippet-filter input[type='text'] {
            border: 1px solid #ccc;
        }
        #snippet-filter input[type='text'],
        #snippet-filter input[type='submit'] {
            margin-left: 5px;
            margin-right: 15px;
        }
        #snippet-filter input[type='checkbox'] {
            margin-left: 5px;
            margin-right: 5px;
        }
        #snippet-filter input[type='checkbox'] + * {
            margin-right: 15px;
        }
        #snippet-filter a {
            font-size: small;
        }
        #snippet-advanced-search {
            display: inline;
        }
        #snippet-filter-icon {
            margin-right: 10px;
            position: relative;
            top: 5px;
        }
        .snippet-pagenum {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .snippet-pagenum > a, .snippet-pagenum > span {
            margin: 7px;
            padding: 2px 5px;
            border-radius: 5px;
        }
        .snippet-pagenum > a {
            background-color: #fd8;
        }
        .snippet-pagenum > span {
            background-color: #ddc;
            font-weight: bold;
        }
        .snippet-pagenum a {
            text-decoration: none;
            color: #55b;
        }
        .snippet-pagenum a:hover {
            text-decoration: underline;
        }
        #snippets {
            height: 100%;
        }
        #snippets > div {
            display: inline-block;
            width: 45%;
            height: 100%;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            background-color: red;
        }

    if req.isAuthenticated()
        .accordion
            h3 Select a snippet
            #snippet-list-container
                #snippet-filter
                    form
                        img#snippet-filter-icon(src='images/search.png' alt='Filter')
                        input(type='text' name='text')
                        #snippet-advanced-search(style='display: none;')
                            label Username
                            input(type='text' name='user')
                            label Keywords
                            input(type='text' name='keywords')
                        input#snippet-apply-filter(type='submit' value='Apply filter')
                        a#snippet-toggle-advanced(href='#') Advanced
                #snippets
                    #snippet-list
                    div
                        #current-snippet-name Snippet name
                        #current-snippet-code Snippet code
            h3 Or upload your own snippet
            div#snippet-upload-container
                label(for='code') Code
                textarea#snippet-code(name='code')
                label(for='name') Name
                input#snippet-upload-name(type='text' name='name')
                input#snippet-upload(type='button' value='Upload' disabled)
    else
        p Select a snippet
        #snippets
            #snippet-list
            div
                #current-snippet-name
                #current-snippet-code
#confirm-snippet-remove(title='Remove snippet' style='display: none;')
    span(class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;')
    span.dlgmsg
#confirm-snippet-overwrite(title='Overwrite snippet' style='display: none;')
    span(class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;')
    span.dlgmsg
