#pick-image(title='Pick an image' style='display: none;')
    style.
        #pick-image {
            overflow: hidden;
        }
        .img-container {
            display: inline-block;
            margin: 10px;
            height: 100px;
            // background-color: #ffc;
        }
        .img-control {
            display: inline-block;
            height: 100%;
            width: 20px;
            // background-color: #cfc;
        }
        .img-tool {
            height: 20px;
            background-image: url('/images/edit.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        .img-edit {
            //background-color: #ccf;
            background-image: url('/images/edit.png');
        }
        .img-remove {
            //background-color: #fcc;
            background-image: url('/images/trash.png');
        }
        .img-kw {
            display: none;
        }
        #img-filter > * {
            font-size: smaller;
        }
        #img-filter input[type='text'] {
            border: 1px solid #ccc;
        }
        #img-filter input[type='text'],
        #img-filter input[type='submit'] {
            margin-left: 5px;
            margin-right: 15px;
        }
        #img-filter input[type='checkbox'] {
            margin-left: 5px;
            margin-right: 5px;
        }
        #img-filter input[type='checkbox'] + * {
            margin-right: 15px;
        }
        #img-filter a {
            font-size: small;
        }
        #img-advanced-search {
            display: inline;
        }
        #img-filter-icon {
            margin-right: 10px;
            position: relative;
            top: 5px;
        }
        .img-pagenum {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .img-pagenum > a, .img-pagenum > span {
            margin: 7px;
            padding: 2px 5px;
            border-radius: 5px;
        }
        .img-pagenum > a {
            background-color: #fd8;
        }
        .img-pagenum > span {
            background-color: #ddc;
            font-weight: bold;
        }
        .img-pagenum a {
            text-decoration: none;
            color: #55b;
        }
        .img-pagenum a:hover {
            text-decoration: underline;
        }

    if req.isAuthenticated()
        .accordion
            h3 Select an image
            #image-thumbnail-container
                #img-filter
                    form
                        img#img-filter-icon(src='images/search.png' alt='Filter')
                        input(type='text' name='text')
                        #img-advanced-search(style='display: none;')
                            label Username
                            input(type='text' name='user')
                            label Keywords
                            input(type='text' name='keywords')
                        input#img-apply-filter(type='submit' value='Apply filter')
                        a#img-toggle-advanced(href='#') Advanced
                #image-thumbnails
            h3 Or upload your own image
            div
                input#image-uploader(type='file' accept='image/*')
                br
                table
                    tr
                        td
                            label(for='title') Title
                        td
                            input#image-upload-title(type='text' name='title')
                    tr
                        td
                            label(for='keywords') Keywords
                        td
                            input#image-upload-keywords(type='text' name='keywords')
                br
                input#image-upload(type='button' value='Upload' disabled)
    else
        p Select an image
        #image-thumbnails
#confirm-img-remove(title='Remove image' style='display: none;')
    span(class='ui-icon ui-icon-alert' style='float:left; margin:0 7px 20px 0;')
    span.dlgmsg
#img-edit(title='Edit image' style='display: none;')
    span Choose a new file to replace the old one (optional)
    br
    input#img-edit-uploader(type='file' accept='image/*')
    br
    table
        tr
            td
                label(for='title') Title
            td
                input#img-edit-title(type='text' name='title')
        tr
            td
                label(for='keywords') Keywords
            td
                input#img-edit-keywords(type='text' name='keywords')
