//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

extends page

block vars
    - var title = 'Reset password'

block otherCss
    style.
        .mymain {
            padding: 10px;
        }
        #resetpassword {
            width: 300px;
        }
        #resetpassword form > * {
            display: block;
        }
        #resetpassword form > input[type=text] {
            width: 100%;
        }
        #resetpassword form > input {
            margin-bottom: 20px;
        }
        .errormsg {
            color: #c00;
            margin-bottom: 20px;
        }

block otherScripts
    script.
        function formData(form) {
            var e = form.elements, d = {}
            for (var i=0, n=e.length; i<n; ++i) {
                var x = e[i]
                switch (x.type) {
                case 'text':
                    if (x.value.length > 0)
                        d[x.name] = x.value
                    break
                case 'checkbox':
                    d[x.name] = x.checked
                    break
                default:
                    if (x.name)
                        d[x.name] = x.value
                }
            }
            return d
        }
        function validationError(form, err, name) {
            $('.errormsg').text(err)
            $(form).find('input[name=' + name + ']').focus()
            return false
        }
        function validatePass(form, d, name, errMsg) {
            if (!d[name])
                return validationError(form, errMsg || 'Password is missing', name)
            return true
        }
        function validateSame(form, d, name, refname, errMsg) {
            if (d[name] !== d[refname])
                return validationError(form, errMsg, name)
            return true
        }

        ctm.initPage.push(function(c1, c2, c3) {
            var f = $('#resetpassword form'),
            form = f[0]
            f.find('input[type=submit]').click(function(e) {
                e.preventDefault()
                var d = formData(form)
                if (!(validatePass(form, d, 'password', 'New password is missing') &&
                    validateSame(form, d, 'confirm_password', 'password', 'Two copies of the new password differ')))
                    return
                $.extend(d, {user: '#{user}', code: '#{code}'})
                $.post('/resetpassword-complete', d)
                    .done(function(responseText) {
                        infoMessage(responseText)
                        setTimeout(function() { window.location.replace('/profile') }, 2000)
                    })
                    .fail(function(xhr) {
                        $('.errormsg').html(xhr.responseText || 'Unknown error, code ' + xhr.status)
                    })
            })
        })

block content
    .errormsg
    #resetpassword
        form
            label(for='password') New password
            input(type='password' name='password')
            label(for='confirm_password') Confirm new password
            input(type='password' name='confirm_password')
            input(type='submit' value='Change password')
