style.
    form#resetpassworddlg > * {
        display: block;
    }
    form#resetpassworddlg > label {
        margin-top: 10px;
    }
    #resetpassworddlg-errormsg {
        color: #c00;
    }

script.
    $(document).ready(function() {
        $('#resetpassworddlg-newcaptcha').click(function() {
            $('#resetpassworddlg-captchaimg').attr('src', '/captcha.png#' + (new Date).toGMTString())
        })
    })

#resetpassworddlg-errormsg

form#resetpassworddlg(action='/login', method='post')
    label(for='email') Email address
    input#resetpassworddlg-email(type='text', name='email')
    label(for='captcha') Confirm you're a human: enter code shown in the picture below
    input#resetpassworddlg-captcha(type='text', name='captcha')
    img#resetpassworddlg-captchaimg(src='/captcha.png')
    input#resetpassworddlg-newcaptcha(type="button", value="new image")
