//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

style.
    form#signup > * {
        display: block;
    }
    form#signup > label {
        margin-top: 10px;
    }

script.
    $(document).ready(function() {
        $('#newcaptcha').click(function() {
            $('#captchaimg').attr('src', '/captcha.png#' + (new Date).toGMTString())
        })
    })

#errormsg
    include errormsg

form(id="signup", method="POST", action="/signup")
    label(for='username') Name
    input#username(type='text', name='username')
    label(for='email') Email
    input#email(type='text', name='email')
    label(for='password') Password
    input#password(type='password', name='password')
    label(for='password2') Confirm password
    input#password(type='password', name='password2')
    label(for='captcha') Confirm you're a human: enter code shown in the picture below
    input#captcha(type='text', name='captcha')
    img#captchaimg(src='/captcha.png#'+(new Date()).toString())
    input#newcaptcha(type="button", value="show new image")
