extends page
block vars
    - var title = 'Simulations'

block otherCss
    style.
        #simtable, #simtable td, #simtable th {
            border: 1px solid #888;
        }

block otherScripts
    script.
        /*
        ctm.initPage.push(function() {
            function reload() { location.reload() }
            $('#after_login_action').click(reload)
            $('#after_logout_action').click(reload)
        })
        */
        var findSim
        ;(function() {
            function wrap(tag) { return $("<" + tag + "></" + tag + ">") }
            function findSim() {
                $.get('/simheaders')
                    .done(function(data) {
                        var headers = JSON.parse(data), tbl = $('#simtable')
                        function header(i, role) {
                            var h = headers[i]
                            var result = typeof h == 'object'? h[role]: h
                            return result
                        }
                        function hname(i) { return header(i, 'name') }
                        function htitle(i) { return header(i, 'title') }
                        tbl.html('')
                        var hdr = wrap('tr').appendTo(tbl)
                        for (var i in headers)
                            hdr.append(wrap('th').html(htitle(i)))
                        $.get('simtable')
                            .done(function(data) {
                                var sims = JSON.parse(data)
                                for (var j in sims) {
                                    var sim = sims[j]
                                    var row = wrap('tr').appendTo(tbl)
                                    for (var i in headers) {
                                        var h = hname(i),   x = sim[h],   s
                                        switch (typeof x) {
                                        case 'boolean':
                                            s = x.toString()
                                            break
                                        default:
                                            s = x
                                        }
                                        if (h == 'name')
                                            s = '<a href="/editor?' + $.param({sim: sim._id}) + '">' + s + '</a>'
                                        row.append(wrap('td').html(s))
                                    }
                                }
                            })
                    })
            }
            $(document).ready(findSim)
        })()

block content
    //-
        if req.isAuthenticated()
            h1 Logged in
        else
            h1 Not logged in
    table#simtable

block extras
    #after_login_action(display='none')
    #after_logout_action(display='none')
