//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

extends page
block vars
    - var title = 'Simulations'

block otherCss
    style.
        #simtable {
            border-spacing: 10px 5px;
        }
        #simtable td, #simtable th {
            border-radius: 5px;
            text-align: center;
            padding: 3px 5px;
        }
        #simtable th {
            background-color: #ddc;
        }
        #simtable tr.odd {
            background-color: #ffe;
        }
        #simtable tr.odd td {
            border: 1px solid #f4f4e4;
        }
        #simtable tr.even {
            background-color: #eed;
        }
        #filter {
            padding: 10px 20px 10px 20px;
        }
        #simulations {
            padding: 0px 20px 0px 20px;
            border-top: 1px solid #ccc;
            overflow: auto;
        }
        #filter input[type='text'] {
            border: 1px solid #ccc;
        }
        #filter input[type='text'],
        #filter input[type='submit'] {
            margin-left: 5px;
            margin-right: 15px;
        }
        #filter input[type='checkbox'] {
            margin-left: 5px;
            margin-right: 5px;
        }
        #filter input[type='checkbox'] + * {
            margin-right: 15px;
        }
        #filter a {
            font-size: small;
        }
        #advanced-search {
            display: inline;
        }
        .error {
            font-weight: bold;
            color: #c00;
        }
        #simtable a {
            text-decoration: none;
            color: #2a6;
        }
        #simtable a:link {
        }
        #simtable a:visited {
            color: #172;
        }
        #simtable a:hover {
            text-decoration: underline;
        }

        .page-numbers {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .page-numbers > a, .page-numbers > span {
            margin: 7px;
            padding: 2px 5px;
            border-radius: 5px;
        }
        .page-numbers > a {
            background-color: #fd8;
        }
        .page-numbers > span {
            background-color: #ddc;
            font-weight: bold;
        }
        .page-numbers a {
            text-decoration: none;
            color: #55b;
        }
        .page-numbers a:hover {
            text-decoration: underline;
        }
        #edit_sim_fields > * {
            display: block;
        }
        #edit_sim_fields > input[type=text] {
            width: 100%;
        }
        .edittools img {
            padding: 0 5px;
        }
        td .ui-icon {
            display: inline-block;
        }
        #dlg_delete_sim .simname {
            font-weight: bold;
        }
        #sim-filter-icon {
            margin-right: 8px;
            position: relative;
            top: 4px;
        }

block otherScripts
    script.
        var findSim
        ;(function() {
            function wrap(tag) { return $("<" + tag + "></" + tag + ">") }
            function searchQuery() {
                var f = $('#filter > form')[0].elements
                var result = {}
                for (var i=0, n=f.length; i<n; ++i) {
                    var e = $(f[i])
                    if (!e.is(':visible'))
                        continue
                    var name = e.attr('name')
                    switch (e.attr('type')) {
                    case 'text':
                        if (e[0].value.length > 0)
                            result[name] = e[0].value
                        break
                    case 'checkbox':
                        result[name] = e[0].checked
                        break
                    }
                }
                return result
            }
            var pagecount = 0,   pagenum = 0

            findSim = function(page) {
                $('#apply-filter').attr('disabled', true)
                var rq = searchQuery()
                if (typeof page == 'number')
                    rq.page = page
                $.get('/simheaders', rq)
                    .done(function(data) {
                        var headers = JSON.parse(data), tbl = $('#simtable')
                        function header(i, role) {
                            var h = headers[i]
                            var result = typeof h == 'object'? h[role]: h
                            return result
                        }
                        function hname(i) { return header(i, 'name') }
                        function htitle(i) { return header(i, 'title') }
                        tbl.html('')
                        $.get('simtable', rq)
                            .done(function(data) {
                                data = JSON.parse(data)
                                var sims = data.sims
                                if (sims.length > 0) {
                                    var hdr = wrap('tr').appendTo(tbl)
                                    for (var i in headers)
                                        hdr.append(wrap('th').html(htitle(i)))
                                    for (var j in sims) {
                                        var sim = sims[j],
                                            simSpecStr = sim.user? sim.user + '/' + sim.name: sim.name,
                                            //simid = $.param({sim: sim._id})
                                            simid = $.param({sim: simSpecStr}),
                                            row = wrap('tr').appendTo(tbl).addClass((+j+1)&1? 'odd': 'even')
                                        for (var i in headers) {
                                            var h = hname(i),   x = sim[h],   s
                                            switch (typeof x) {
                                            case 'boolean':
                                                if (x)
                                                    s = '<span class="ui-icon ui-icon-check"></span>'
                                                else
                                                    s = ''
                                                break
                                            default:
                                                if (x instanceof Array)
                                                    s = x.join(', ')
                                                else if (h == 'date')
                                                    s = new Date(x).toLocaleString()
                                                else
                                                    s = x
                                            }
                                            if (h == 'name')
                                                s = '<a href="/editor?' + simid + '">' + s + '</a>'
                                            else if (h == 'edit') {
                                                if (x)
                                                    s = '<span class="edittools">' +
                                                        '<a href="/cmd/editsim?' + simid + '" class="editsim"><img src="images/edit.png" title="Edit" alt="edit"/></a>' +
                                                        '<a href="/cmd/delsim?' + simid + '" class="deletesim"><img src="images/trash.png" title="Delete" alt="delete"/></a>' +
                                                        '</span>'
                                                else
                                                    s = ''
                                            }
                                            row.append(wrap('td').html(s))
                                        }
                                    }
                                    $('.editsim').click(function(e) {
                                        e.preventDefault()
                                        var a = this,
                                            dlg = $('#dlg_edit_sim'),
                                            editName = $('#edit_sim_name')[0],
                                            editPublic = $('#edit_sim_public')[0],
                                            td = $(this).parents('td').first()
                                        editName.value = td.prev().prev().prev().prev().text()
                                        editPublic.checked = td.prev().children().length > 0
                                        dlg.dialog({
                                            resizable: false,
                                            width: 400,
                                            modal: true,
                                            buttons: [ {
                                                text: 'Save',
                                                icons: {primary: 'ui-icon-disk'},
                                                click:
                                                    function() {
                                                        $.get(a.href + '&' + $.param({name: editName.value, public: editPublic.checked}))
                                                            .done(function(text) {
                                                                dlg.dialog("close")
                                                                infoMessage(text)
                                                                findSim()
                                                            })
                                                            .fail(function(xhr) {
                                                                errorMessage(xhr.responseText || xhr.statusText || xhr.status)
                                                            })
                                                    }
                                                }, {
                                                text: 'Cancel',
                                                icons: {primary: 'ui-icon-closethick'},
                                                click:
                                                    function() {
                                                        $(this).dialog("close")
                                                    }
                                                }
                                            ]
                                        })
                                    })
                                    $('.deletesim').click(function(e) {
                                        e.preventDefault()
                                        var a = this,
                                            dlg = $('#dlg_delete_sim'),
                                            td = $(this).parents('td').first(),
                                            simname = td.prev().prev().prev().prev().text()
                                        dlg.find('.simname').text(simname)
                                        dlg.dialog({
                                            resizable: false,
                                            modal: true,
                                            buttons: {
                                                Delete: function() {
                                                    $.get(a.href)
                                                        .done(function() {
                                                            infoMessage('Simulation ' + simname + ' has been deleted')
                                                            dlg.dialog("close")
                                                            findSim()
                                                        })
                                                        .fail(function(xhr) {
                                                            errorMessage(xhr.responseText || xhr.statusText || xhr.status)
                                                            dlg.dialog("close")
                                                        })
                                                },
                                                Cancel: function() {
                                                    dlg.dialog("close")
                                                }
                                            }
                                        })
                                    })
                                }
                                else
                                    tbl.append(wrap('tr').append(wrap('td').text('No results are found')))

                                $('.page-numbers').html(data.pagenum).find('a').click(function(e) {
                                    e.preventDefault()
                                    findSim($(this).text()-1)
                                })
                            })
                            .fail(function(xhr) {
                                tbl.append(wrap('tr').append(wrap('td').addClass('error').text('Error: ' + (xhr.responseText || xhr.statusText || xhr.status))))
                                $('.page-numbers').html('')
                            })
                            .always(function() {
                                $('#apply-filter').attr('disabled', false)
                            })
                    })
            }
            ctm.initPage.push(function(c1, c2, c3) {
                $('#after_login_action').click(findSim)
                $('#after_logout_action').click(findSim)
                $('#advanced-search').hide()
                $('#toggle-advanced').click(function(e) {
                    e.preventDefault()
                    var adv = $('#advanced-search'), wasadv = adv.is(':visible')
                    $(this).html(wasadv? 'Advanced': 'Basic')
                    $('#advanced-search').fadeToggle('fast', findSim)
                })
                $('#apply-filter').click(function(e) {
                    e.preventDefault()
                    findSim()
                })
                c2.addResizeHandler(function() {
                    $('#simulations').height($(this.dom).height()-$('#filter').outerHeight())
                })
            })
        })()
    case req.query.mode
        when 'my'
            script.
                ctm.initPage.push(function() {
                    var f = $('#filter > form')[0].elements
                    for (var i=0, n=f.length; i<n; ++i) {
                        var e = $(f[i])
                        var name = e.attr('name')
                        if (name == 'user') {
                            e[0].value = '#{req.user.username}'
                            break
                        }
                    }
                    $('#toggle-advanced').click()
                })
        when 'public'
            script.
                ctm.initPage.push(function() {
                    var f = $('#filter > form')[0].elements
                    for (var i=0, n=f.length; i<n; ++i) {
                        var e = $(f[i])
                        var name = e.attr('name')
                        if (name == 'public') {
                            e[0].checked = true
                            break
                        }
                    }
                    $('#toggle-advanced').click()
                })
        default
            script.
                ctm.initPage.push(findSim)

block content
    #filter
        form
            img#sim-filter-icon(src='images/search.png' alt='Filter')
            input(type='text' name='text')
            #advanced-search
                label Username
                input(type='text' name='user')
                label Keywords
                input(type='text' name='keywords')
                input(type='checkbox' name='public')
                span Public only
            input#apply-filter(type='submit' value='Apply filter')
            a#toggle-advanced(href='#') Advanced
    #simulations
        .page-numbers
        table#simtable
        .page-numbers

block extras
    #after_login_action(display='none')
    #after_logout_action(display='none')
    #dlg_edit_sim(title='Edit simulation' style='display: none;')
        #edit_sim_fields
            label(for='name') Name
            input#edit_sim_name(type='text' name='name')
            span
                input#edit_sim_public(type='checkbox' name='public')
                label(for='public') Public
    #dlg_delete_sim(title='Delete simulation' style='display: none;')
        p
            span.ui-icon.ui-icon-alert(style='float:left; margin:0 7px 20px 0;')
            | Really delete simulation <span class="simname">&lt;name&gt;</span>?
