| Logged in as #{user}
a(href='/logout' id='logout') Log out
script.
    (function() {
        $('#logout').click(function(e) {
            e.preventDefault()
            $('#before_logout_action').click()
            $.post('/logout')
                .always(function() {
                    loadLoginForm($('#login'))
                    $('#after_logout_action').click()
                })
        })
    })()
