//-
    EquaRes - a tool for numerical analysis of equations.
    Copyright (C) 2014 Stepan Orlov

    This file is part of EquaRes.

    Full text of copyright notice can be found in file copyright_notice.txt in the EquaRes root directory.
    License agreement can be found in file LICENSE.md in the EquaRes root directory.

style.
    #login {
        font-size: small;
    }
| Logged in as #{user}
a(href='/logout' id='logout') Log out
script.
    (function() {
        $('#logout').click(function(e) {
            e.preventDefault()
            $('#before_logout_action').click()
            $.post('/logout')
                .always(function() {
                    loadLoginForm($('#login'))
                    loadMenu()
                    $('#after_logout_action').click()
                })
        })
    })()
